<launch>

    <arg name="prefix" default=""/>
    <arg name="gui" default="false"/>

    <param name="robot_description"
        textfile="$(find cogimon_urdf)/urdf/cogimon.urdf"/>

    <param name="robot_description_capsules"
        textfile="$(find cogimon_urdf)/urdf/cogimon_capsules.rviz"/>

    <param name="robot_description_capsules_semantic"
        textfile="$(find cogimon_srdf)/srdf/cogimon_capsules.srdf"/>

    <param name="robot_description_semantic"
        textfile="$(find cogimon_srdf)/srdf/cogimon.srdf"/>

    <param name="cartesian/problem_description"
        textfile="$(find cartesio_collision_support)/examples/config/cogimon_collision_avoidance_stack.yaml"/>

    <include file="$(find cartesian_interface)/launch/cartesio.launch">
        <arg name="rate" value="100.0"/>
        <arg name="prefix" value="$(arg prefix)"/>
    </include>

    <node if="$(arg gui)"
            type="rviz"
            name="rviz"
            pkg="rviz"
            args="-d $(find cartesio_collision_support)/examples/config/collision_avoidance.rviz"/>
            output="screen"/>

</launch>
